// ==========================================================================
// Footer
// ==========================================================================

.footer {
  padding: 2em;
  text-align: $text--center;

  @include e(link) {
    color: $havelockBlue;
  }
}
